.header-image {
    max-width: 600px;
    max-height: 400px;
    margin: 0 auto;
}

.img-frame {
    box-shadow: 3px 3px 6px rgba(0,0,0,.15);
    background: #1f2937;
    margin: 20px auto;
}

.image-and-text {
    max-width: 300px;
    max-height: 300px;
    margin: 0 auto;
}

.aspect-ratio {
    position: relative;
}

.landscape {
    padding-bottom: 56.25%;
}

.portrait {
    padding-bottom: 75%;
}

.fit-img {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    max-width: 80%;
    max-height: 90%;
}

img {
    object-fit: cover;
}